# Data science Tools and Ecosystem

'In this notebook, Data Science Tools and Ecosystem are summarized'

"Some of the popular languages that Data Scientists use are:Python,R,SQL,Scala"

"Some of the commonly used libraries used by Data Scientists include: Numpy,Pandas,Seaborn,Matplotlib"

|  Data Science Tools |
|  ----------------    |
|  MySQL               |
|  PostgreSQL          |
|  MongoDB             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

**Objectives:**
- Python
- R
- Sql

## Author
'Divya'